.hero {
    margin: auto;
    background-image: url("/src/assets/hero.jpg");
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.hero__items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    column-gap: 30px;
    row-gap: 40px;;
}

.hero__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__number {
    font-size: 5rem;
    letter-spacing: 1.px;
    color: var(--primary-white);
    font-weight: 700;
}

.hero__activity {
    font-size: 1.7rem;
    letter-spacing: 1.px;
    color: var(--primary-white);
    font-weight: 600;
}

.hero__item--button {
    grid-column: 2/3;
}