.organazation_items{
    display: flex;
    justify-content: space-between;
}

.organazation_item{
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.organazation__title{
    /* text-align: center; */
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    color: var(--secondary-dark);
    font-weight: 700;
}

.organazation__name{
    font-size: 14px;
    margin-bottom: 6px;
}

@media screen and (max-width: 767px) {
    .organazation_items {
        flex-direction: column;
        text-align: justify;
    }
}