.realization__institutions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.realization__logo {
    object-fit: contain;
}

.realization__box {
    margin-top: 30px;
}

.realization__title {
    font-size: 1.5rem;
    color: var(--secondary-dark);
    opacity: 0.8;
    font-weight: 600;
}

.realization__items {
    display: grid;
    align-items: center;
}

.realization__item {
    margin: auto;
}

.realization__support {
    width: 100%;
    object-fit: contain;
    border: 1px solid #ccc;
}

.realization__name {
    text-align: center;
    margin-top: 15px;
    font-size: var(--normal);
    line-height: var(--normal);
    color: var(--secondary-dark);
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .realization__institutions {
        flex-direction: column;
        row-gap: 40px;
    }

    .realization__logo {
        width: 200px;
        height: 190px;
    }

    .realization__title {
        margin-top: 40px;
    }

    .realization__items {
        grid-template-columns: repeat(3, auto);
        gap: 20px;
        margin-top: 30px;
    }

}
@media (min-width: 768px) {
    .realization__logo {
        width: 150px;
        height: 140px;
    }

    .realization__items {
        grid-template-columns: repeat(5, auto);
        column-gap: 30px;
        row-gap: 40px;
        margin-top: 20px;
    }
}