.submission__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 25px;
}

.submission__icon {
    width: 25px;
    height: 25px;
    display: block;
}

.submission__text {
    font-size: var(--normal);
    line-height: var(--normal);
    color: var(--secondary-dark);
    font-weight: 500;
    width: calc(100% - 25px);
    opacity: 0.9;
}

.submission__button {
    margin: 25px auto 0;
}