.header {
    background-color: var(--primary-white);
    position: static;
    top: 0;
    padding: 10px 0;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 116px;
    height: 81px;
}

.header__navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;   
}

.header__link {
    font-size: var(--normal);
    line-height: var(--normal);
    color: var(--primary-dark);
    font-weight: 600;
    padding: 10px;
    opacity: 0.9;
    position: relative;
    transition: all 0.3s ease 0s;
}

.header__link:hover {
    width: 100%;
    color: var(--green);
    opacity: 1;
}

.header__link:hover::after, .header__link:checked:after {
    width: 100%;
}

.header__link::after {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 50px;
    display: block;
    position: absolute;
    bottom: 1px;
    background-color: var(--green);
    transition: all 0.3s ease 0s;
}

/* ___________________________________ */


.home {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.home__text {
    width: 70%;
}

.home__title {
    font-size: 2.7rem;
    line-height: 3rem;
    letter-spacing: 1px;
    color: var(--primary-dark);
    font-weight: 800;
}

.home__subtitle {
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: var(--primary-dark);
    font-weight: 500;
    opacity: 0.7;
    margin-top: 25px;
}

.home__dates {
    width: 30%;
    height: fit-content;
    background-color: var(--primary-white);
    border: 3px 3px 10px 10px;
}

.home__line {
    background-color: var(--orange);
    height: 3px;
    border-radius: 2px;
    border: none;
}

.home__label,
.home__date,
.home__locale {
    display: block;
    padding: 10px 15px;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--primary-dark);
    font-weight: 600;
}

.home__date {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 800;
    color: var(--green--light); 
}

.home__locale {
    color: var(--green--light); 
    font-weight: 500;
}

/* ___________________________ */

.about {}

/* ___________________________ */

.event {}

/* ___________________________ */

.dates__items {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.dates__item {
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding: 20px 30px;
    background-color: var(--primary-white);
    border-radius: 10px;
}

.dates__content {}

.dates__text {
    font-size: 1rem;
    line-height: 1.7rem;
    color: var(--green);
    font-weight: 600;
}

.dates__info {
    font-size: 1rem;
    line-height: 1.7rem;
    color: var(--orange);
    font-weight: 700;
}

.dates__button {
    margin-top: 30px;
    display: flex;
    /* justify-content: center; */
}

/* ___________________________ */
.full__editions {
    padding: 30px 0;
    background-color: var(--green--light);
}

.editions__items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    row-gap: 30px;
}

.editions__item {
    margin: auto;
}

.editions__image {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
/* ___________________________ */

